.container {
  padding: 0 2rem;
}

.main {
  /* min-height: 50vh; */
  margin: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #1b2b3e;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #788492;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  background: none;
  font-size: 18px;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  max-width: 50%;
  margin: 2rem 0;
}

.input:focus {
  outline: none;
}

.button {
  max-width: 150px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.lyricsContainer {
  margin: 2rem 0;
  max-width: 50%;
}

.lyricsTitle {
  color: #1b2b3e;
  font-weight: bold;
}

.lyrics {
  color: #788492;
}

.loadingSpinner {
  margin-top: 5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
